@model IEnumerable<ClientAPI.Models.ViewModelLocationPrize>
<ul class="nav nav-list">
    <li class="">
        <a href="@Url.Action("HomeHome","Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Home </span>
        </a>

        <b class="arrow"></b>
    </li>
    @foreach (var item in Model)
    {
        <li class="">
            <a href="@Url.Action("SXMN", "Home",new { id=@item.LottezyId})">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> @item.LottezyName </span>
            </a>

            <b class="arrow"></b>
        </li>
    }
    <li class="">
        <a href="@Url.Action("ThongKe","Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Thống Kê SXMB </span>
        </a>

        <b class="arrow"></b>
    </li>

</ul><!-- /.nav-list -->