
@{
    ViewBag.Title = "HomeHome";
    Layout = "~/Views/_Layout.cshtml";
}


<div class="alert alert-block alert-success center" style="width: 1138px;font-size:30px">
									
    <img src="~/Content/assets/tải xuống.jpg" class="img-thumbnail" alt="Hot girl" width="300" height="100">
									
</div>
<div class="alert alert-block alert-danger center" style="width: 1138px;font-size:30px">
    <div class="alert alert-block alert-warning center" style="width: 1138px;font-size:30px">
        <i class=""></i>

        Welcome to
        <strong class="green">
            Kết Quả Sổ Xố

        </strong>,
    </div>
</div>
    